---
import { informe } from "../lib/datos.ts";
const fuentes = [...new Set(
  Object.values(informe.cinturones).flatMap(c =>
    Object.values(c.indicadores).map(i => i.fuente).filter(Boolean))
)].sort();
---
<section class="cg-section cg-sources" id="cg-sources">
  <p class="cg-eyebrow">Fuentes</p>
  <ul>
    {fuentes.map(f => <li>{f}</li>)}
  </ul>
</section>
